{{label-element for=inputId required=required label=label}}
{{#if icon}}
  <div id={{blockId}} class="input-group {{if hasError "has-error"}} {{if hasSuccess "has-success"}}">
    {{#unless iconRight}}
      <span class="input-group-addon">
        <i class="fa {{icon}}" aria-hidden="true"></i>
      </span>
    {{/unless}}
    {{input 
      type=type
      value=oneWayValue
      id=inputId
      placeholder=placeholder
      pattern=pattern
      required=required
      class="form-control"}}
    {{#if iconRight}}
      <span class="input-group-addon">
        <i class="fa {{icon}}" aria-hidden="true"></i>
      </span>
    {{/if}}
  </div>
{{else}}
  <div id={{blockId}} class="{{if hasError "has-error"}} {{if hasSuccess "has-success"}}">
    {{input 
      type=type
      value=oneWayValue
      id=inputId
      placeholder=placeholder
      pattern=pattern
      required=required
      class="form-control"}}
  </div>
{{/if}}
