<div class="container">
  <div class="col-md-8 col-md-offset-2">
    {{#ember-dynamic-form 
      title="My Form" 
      hasRequired=true 
      onRender=(action "clearPromisesArray")
      saveWithoutFiles=(action "save")}}

      <fieldset>
        {{ember-dynamic-form-input-block
          label='Username'
          value=model.username
          required=true
          icon='fa-user'
          onValueUpdate=(action "setUsername")
        }}

        {{ember-dynamic-form-input-block
          label='Age'
          value=model.age
          placeholder='age is optional'
          inputId='ageInput'
          onValueUpdate=(action "setAge")
        }}

        {{ember-dynamic-form-input-block
          type='date'
          label='Date'
          pattern="\d{4}/\d{2}/\d{2}"
          placeholder="YYYY/MM/DD"
          value=model.date
          required=true
          onValueUpdate=(action "setDate")
        }}

        {{ember-dynamic-form-input-block
          type='password'
          label='Password'
          value=model.password
          required=true
          icon='fa-key'
          iconRight=true
          onValueUpdate=(action "setPassword")
        }}

        {{ember-dynamic-form-select-block 
          label="Company"
          required=true
          options=companySelectOptions
          selected=model.company
          onOptionSelect=(action "setCompany")
        }}

        {{ember-dynamic-form-textarea-block
          label="Description"
          value=model.description
          required=true
          onValueUpdate=(action "setDescription")
        }}

        {{ember-dynamic-form-checkbox-block 
          label='Companies'
          model=companies
          currentModels=model.companies
          displayProperty="name" 
          onCheckUpdate=(action "setCompanies")
        }}

        {{ember-dynamic-form-pikaday-input
          inputId="testdate"
          label="pikadate label"
          placeholder="YYYY-MM-DD"
          format="YYYY-MM-DD"
          required=true
          onDateSet=(action 'setTestDate')
        }}
      </fieldset>

      <fieldset>
        <legend>File upload</legend>
          {{drop-zone 
            url=uploadUrl 
            id="fileUpload"
            class="dropzone"
            autoProcessQueue=false 
            addRemoveLinks=true 
            uploadMultiple=true
            completemultiple=(action "saveWithFiles") 
            dictDefaultMessage="Add files here"
            headers=headers
          }}
      </fieldset>
    {{/ember-dynamic-form}}
  </div>
</div>
